aws_region = "us-east-1"
aws_profile = "f1-sso"

lambda_function_name     = "next-pl-session"
lambda_handler           = "lambda_pl_function.lambda_handler"
lambda_role_arn          = "arn:aws:iam::373892137535:role/service-role/next-f1-session-role-m81fwq00"
cloudfront_distribution_id = ""

lambda_environment = {}

enable_premier_league_lambda = false
pl_lambda_function_name      = "next-pl-session-alt"
pl_lambda_handler            = "lambda_pl_function.lambda_handler"

pl_lambda_environment = {}
